.ScoreFrame {
  border-style: solid;
  border-width: medium;
  border-color: blue;
  width: 100%;
  display: flex;
  flex-direction: column;

  .topRow {
    display: flex;
    flex-direction: row;
  }
  .totalScore {

  }

}
